node_modules
dist
out
.DS_Store
.eslintcache
*.log*

test/
tests/


opendesign/

# Local dictionary samples
/Dictionaries/

# build artifact
/benchmarks/opendict-rs/target/
/native/mdict/target/
/native/mdict-node/target/
/native/mdict-node/node_modules/
/native/mdict-node/*.node
