node_modules
dist
out
.DS_Store
.eslintcache
*.log*
vscode/

test/
tests/


opendesign/

# Local dictionary samples
/Dictionaries/
/swift-dictol
/docs
/scripts/*test*.ts
/scripts/*test*.mjs
/scripts/*test*.cjs

# build artifact
/benchmarks/opendict-rs/target/
/native/mdict/target/
/native/mdict-node/target/
/native/mdict-node/node_modules/
/native/mdict-node/*.node
